==
<html>
<head>
    <link href="/themes/new-design/assets/css/newdesign-index.css" rel="stylesheet">
    <!--<link href="/themes/new-design/assets/css/mobile.css" rel="stylesheet">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <title>{{this.page.title}}</title>
    <link rel="stylesheet" type="text/css" href="/themes/new-design/assets/sources/slick-master/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/themes/new-design/assets/sources/slick-master/slick/slick-theme.css"/>

    <link rel="shortcut icon" href="/themes/new-design/assets/images/favicon/wheel.ico" type="image/x-icon">
    <link rel="icon" href="/themes/new-design/assets/images/favicon/wheel.ico" type="image/x-icon">

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
</head>
<body>
<div class="header">

    <div class="header__social-block">

        <div class="header__social">
            <a target="_blank">
                <div class="header__social-link">
                    <img src="/themes/new-design/assets/images/youtube.svg">
                </div>
            </a>

            <a href="http://www.ok.ru/parkrevolyucii" target="_blank">
                <div class="header__social-link">
                    <img src="/themes/new-design/assets/images/ok.svg">
                </div>
            </a>

            <a href="http://www.facebook.com/groups/1585849241681476/" target="_blank">
                <div class="header__social-link">
                    <img src="/themes/new-design/assets/images/fb.svg">
                </div>
            </a>

            <a href="http://instagram.com/PARK_REVOLYUCII" target="_blank">
                <div class="header__social-link">
                    <img src="/themes/new-design/assets/images/instagram.svg">
                </div>
            </a>


            <a href="http://www.vk.com/parkrevolyucii" target="_blank">
                <div class="header__social-link">
                    <img src="/themes/new-design/assets/images/vk.svg">
                </div>
            </a>


            <div style="clear:both;"></div>
        </div>

    </div>

    <div class="header__logo-block">
        <div class="header__logo-block__left"></div>

        <a href="/"><img src="/themes/new-design/assets/images/logo_green-circle.svg" class="header__logo"></a>

        <div class="header__logo-block__right"></div>


    </div>

    <!--<div class="fixed-header-space">    </div>-->

    <div class="header__nav-bg">
        <a class="header__bars__a"><img src="/themes/new-design/assets/images/bars.svg" class="header__bars"></a>
        <div class="header__nav">

            <a href="/">
                <div class="header__nav__item " id="nav-">Главная</div>
            </a>
            <a href="/history">
                <div class="header__nav__item" id="nav-history">История</div>
            </a>
            <a href="/map">
                <div class="header__nav__item" id="nav-map">Карта парка</div>
            </a>
            <a href="/friends">
                <div class="header__nav__item" id="nav-friends">Друзья парка</div>
            </a>
            <a>
                <div class="header__nav__item" id="nav-ecology">Экология</div>
            </a>
            <a href="/gallery">
                <div class="header__nav__item" id="nav-gallery">Фотогалерея</div>
            </a>
            <a href="/vacancies">
                <div class="header__nav__item" id="nav-vacancies">Вакансии</div>
            </a>

        </div>
    </div>

</div>
<script>
    $('#nav-' + '{{this.page.url}}'.substr(1)).addClass('header__nav__item_active');
</script>


{% page %}


<div class="footer-bg">

    <div class="footer">

        <div class="footer__block">

            <div class="footer__block__title">О ПАРКЕ</div>
            Ростовский парк культуры и отдыха «им. Октябрьской Революции» занял 12-е место в общероссийском рейтинге
            лучших мест для отдыха и развлечений.
            <br><br>
            В общий список вошли 553 парка, из которых 124 находятся в Москве. Столичный парк Горького признан самым
            лучшим в стране, на втором месте разместилсясанкт-петербургский парк "Диво Остров". Тройку лидеров замкнул
            центральный парк Перми.


        </div>


        <div class="footer__block footer__block_links">

            <div class="footer__block__title">ССЫЛКИ</div>

            <ul class="footer__block__ul">

                <a href="/faq">
                    <li><img src="/themes/new-design/assets/images/footer_arrow.svg">FAQ</li>
                </a>
                <a>
                    <li><img src="/themes/new-design/assets/images/footer_arrow.svg">ОСТАВИТЬ ОТЗЫВ</li>
                </a>
                <a href="/services">
                    <li><img src="/themes/new-design/assets/images/footer_arrow.svg">УСЛУГИ</li>
                </a>
                <a>
                    <li><img src="/themes/new-design/assets/images/footer_arrow.svg">СОТРУДНИЧЕСТВО</li>
                </a>
                <a href="/vacancies">
                    <li><img src="/themes/new-design/assets/images/footer_arrow.svg">ВАКАНСИИ</li>
                </a>

            </ul>

        </div>

        <div class="footer__block footer__block_contacts">

            <div class="footer__block__title">КОНТАКТЫ</div>

            <div class="footer__contact">
                <div class="footer__contact__image">
                    <img src="/themes/new-design/assets/images/footer_home-icon.svg">
                </div>
                344000, г. Ростов-на-Дону
                Площадь Театральная, 3

            </div>

            <div class="footer__contact">
                <div class="footer__contact__image footer__contact__image_phone">
                    <img src="/themes/new-design/assets/images/footer_phone-icon.svg">
                </div>
                8(863)263-53-09, 8(863)263-72-55<br>
                8(863)221-67-07- телефон парка аттракционов

            </div>

            <div class="footer__contact">
                <div class="footer__contact__image ">
                    <img src="/themes/new-design/assets/images/footer_message-icon.svg">
                </div>
                park@ledograd.ru

            </div>

        </div>

        <div style="clear:both;"></div>
    </div>


</div>


<script>

    fixNav()

    $('.header__bars__a').click(function () {
        $('.header__nav').slideToggle()
        $('.bars').toggleClass('bars_active');

//        $('.header__nav').toggleClass('navigation_active');
//        $(".header__navigation").animate(300);

    })

    $(window).on("scroll", function () {

       fixNav()

    });


    function fixNav(){

        if ($(window).scrollTop() > $('.header__social-block').outerHeight() + $('.header__logo-block').outerHeight()) {
//            $('.header__nav-bg').addClass('header__nav-bg_fixed');
//            $('.header__nav-bg').css('position','fixed');
//            $('.fixed-header-space').show()

        } else {

//            $('.header__nav-bg').removeClass('header__nav-bg_fixed');
//            $('.header__nav-bg').css('position','relative');

//            $('.fixed-header-space').hide()

        }

    }


</script>


</body>

</html>