title = "О парке"
url = "/aboutpark"
layout = "main-layout"
is_hidden = 0
==

<div class="page-wrapper">

    <div class="slider">


    <div class="slider-block" style="background-image: url('/themes/new-design/assets/images/slider_1.jpg');">

        <div class="slider-block__content">

            <div class="slider-block__content__image-cell">
                <img src="/themes/new-design/assets/images/slider__mon.png">

            </div>

            <div class="slider-block__content__text-cell">
                <div class="slider-block__content__text-cell__title ">
                    СВЕЖИЙ <span class="color-green">СОЧНЫЙ СТИЛЬ </span>ПАРКА

                </div>
                <div class="slider-block__content__text-cell__text">
                    В этом году Ростовский парк культуры и отдыха «им. Октябрьской Революции» обзавелся новым
                    логотипом
                    и фирменным стилем, а также удобным и современным сайтом.
                </div>
            </div>

        </div>

    </div>

    <div class="slider-block slider-block_2"
         style="background-image: url( '/themes/new-design/assets/images/slider2.jpg');">

        <div class="slider-block__content">

            <div class="slider-block__content__image-cell">
                <img src="/themes/new-design/assets/images/slider_2-image.svg">

            </div>

            <div class="slider-block__content__text-cell">
                <div class="slider-block__content__text-cell__title ">
                    <span class="color-green"> НАШИ </span><br>
                    <span class="color-blue">ДРУЗЬЯ</span><br>
                    И ПАРТНЕРЫ

                </div>
                <div class="slider-block__content__text-cell__text">
                    У нас очень много друзей и стратегических партнеров. Вместе мы создаем неповторимую атмосферу
                    праздника и веселья в нашем парке.
                </div>
            </div>

        </div>

    </div>

    <div class="slider-block " style="background-image: url( '/themes/new-design/assets/images/slider3.jpg');">

        <div class="slider-block__content">

            <div class="slider-block__content__image-cell">
                <img src="/themes/new-design/assets/images/slider_3-image.svg">

            </div>

            <div class="slider-block__content__text-cell">
                <div class="slider-block__content__text-cell__title ">
                    <span class="color-green"> СКОРО </span><br>
                    КОЛЕСО ОБОЗРЕНИЯ

                </div>
                <div class="slider-block__content__text-cell__text">
                    Только в парке «им. Октябрьской Революции» будет колесо обозрения высотой 65 м., которое займет 2 место по величине в России!
                </div>
            </div>


        </div>

    </div>

</div>


<script type="text/javascript" src="/themes/new-design/assets/sources/slick-master/slick/slick.js"></script>
<script>

    $(".slider").slick({
        autoplay: true
    });

</script>

    <div class="standard-block">

        <div class="about-park">
            <div class="about-park__block about-park__left-block about-park__left-block_new-design ">
                <div class="about-park__left-block__content about-park__left-block__content_new-design">
                    <div class="about-park__title">О парке</div>
                    <br>
                    <div class="crop">
                        Ростовский парк культуры и отдыха «им. Октябрьской Революции» занял 12-е место в общероссийском рейтинге лучших мест для отдыха и развлечений.<br><br>

                        В общий список вошли 553 парка, из которых 124 находятся в Москве. Столичный парк Горького признан самым лучшим в стране, на втором месте разместился санкт-петербургский парк "Диво Остров". Тройку лидеров замкнул центральный парк Перми.
                    </div>
                </div>
            </div>

            <div class="about-park__block about-park__right-block" style="background-image:url('/storage/app/media/cropped-images/1-2-4-697-461-1460639501.jpg');">
            </div>

            <div style="clear:both;"></div>

        </div>



    </div>
</div>


</div>