title = "Аттракционы"
url = "/attractions"
layout = "main-layout"
is_hidden = 0

[builderList]
modelClass = "Nikita\Content\Models\Attraction"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==

{% set attractions = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<div class="page-wrapper">

    <!--<div class="page__title standard-block">АТТРАКЦИОНЫ</div>-->


    <div class="attractions-page__title">

        <div class="attractions-page__title__image">
            <img src="/themes/new-design/assets/images/attractions_grey.png">

        </div>

        <div class="attractions-page__title__text">

            <a href="/attractions/price-list"><div class="attractions-page__title__text__link">
                ПРЕЙСКУРАНТ ЦЕН НА БИЛЕТЫ В <span class="color-green">ПАРКЕ</SPAN>
            </div>
            </a>
            В нашем парке огромный выбор аттракционов на любой вкус и возраст. Большое разнообразие детских зон и аттракционов.
            Мы можем предложить как семейные аттракционы, так и для любителей экстрима.

        </div>


    </div>


    <div class="standard-block" style="position: relative;">

        <div class="attractions__arrow-block">

            <div class="attractions__arrow">
                <img src="themes/main-theme/assets/images/arrow-right.svg" class="attractions__arrow">
            </div >
        </div>

        {% for item in attractions %}

        <div class="attractions" id="attractions-block-{{item.id}}">

            <div class="attractions__block attractions__left-block" style="background-image: url('storage/app/media{{item.image}}')">
            </div>

            <div class="attractions__block attractions__right-block">
                <div class="attractions__right-block__content">

                    <div class="attraction__title">{{item.title}}</div>


                    {{item.content|raw}}

                </div>
            </div>

        </div>


        {% endfor %}

        <div style="clear: both"></div>

    </div>

</div>

<script>
    var i=0;

    var idArray = [];

    $(function(){

        {% for item in attractions %}
        idArray[idArray.length] = '{{item.id}}';
        {% endfor %}

        $('#attractions-block-'+idArray[i]).addClass('attractions_active');

    });

    $('.attractions__arrow-block').click(function(){
        i++;

        if (i == idArray.length){
            i = 0;
        }

        $('.attractions_active').removeClass('attractions_active');

        $('#attractions-block-'+idArray[i]).addClass('attractions_active');


    })

</script>