title = "Галерея"
url = "/gallery"
layout = "main-layout"
is_hidden = 0

[builderList]
modelClass = "Raviraj\Rjgallery\Models\Gallery"
scope = "-"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<div class="page-wrapper ">
	
	{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}


    <div class="page__title text-align-center standard-block">ФОТОГАЛЕРЕЯ</div>


    <ul class="albums" >
        {% for album in records %}
          <li class="album-a" album="{{album.id}}"> {{album.name}} </li>
        {% endfor %}


    </ul>


    <div class="gallery-block standard-block">


        <div class="gallery__left left-trigger">
            <div class=" gallery__arrow-block gallery__arrow-block_left left-trigger">
                <img src="themes/main-theme/assets/images/arrow-right.svg" class="gallery__arrow">
            </div>
        </div>

        <div class="gallery__right right-trigger">
            <div class=" gallery__arrow-block gallery__arrow-block_right right-trigger">
                <img src="themes/main-theme/assets/images/arrow-right.svg" class="gallery__arrow">
            </div>
        </div>


    </div>
</div>

<script>

    $('.album-a:first-child').addClass('albums__active');

    var galleryId = 1;
    var images = [];
    var i = 0;

    $(function () {

        getPhotos()

    });

    $('.album-a').click(function(){

        galleryId = $(this).attr("album");
        $('.album-a').removeClass('albums__active');
        $(this).addClass('albums__active')
        getPhotos()

    })

    function getPhotos() {
        $.ajax({
            type: "GET",
            url: "/gallery/photos/" + galleryId,
            success: function (data) {
                console.log(data);

                images = jQuery.parseJSON(data)
                setPhoto()
            },
            error: function (e) {
                console.log(e);
                console.log(type);

            }
        });
    }

    $('.left-trigger').click(function () {
        i--;

        if (i == -1) {
            i = images.length - 1;
        }

        setPhoto();

    })

    $('.right-trigger').click(function () {


        if (i == images.length - 1) {
            i = 0;
        } else {
            i++;

        }

        setPhoto();
    })

    function setPhoto() {

        $('.gallery-block').css("background-image", "url(" + images[i] + ")");

    }

</script>