title = "Карта парка"
url = "/map"
layout = "main-layout"
is_hidden = 0
==

<div class="page-wrapper">
<div class="standard-block map-block">

    <img src="storage/app/media/{% content 'map_image' %}">

</div>
</div>