title = "Новость"
url = "/new/:id"
layout = "main-layout"
is_hidden = 0

[builderDetails]
modelClass = "Indikator\News\Models\Post"
identifierValue = "{{ :id }}"
modelKeyColumn = "id"
displayColumn = "title"
notFoundMessage = "Record not found"
==
<div class="page-wrapper">
    <div class="event-page standard-block">
<div class="event__image">
    <img src='\storage/app/media{{record.image}}'>
</div>

<div class="event__title title">{{record.title}}</div>
<div class="event__date">{{record.date}}</div>
<div class="event__content">
    {{record.content |raw}}
</div>
</div>
</div>