title = "Новости"
url = "/news"
layout = "main-layout"
is_hidden = 0

[posts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "Отсутсвие постов"
sortOrder = "published_at desc"
postPage = "ecology"
==

<div class="page-wrapper">
    <div class="standard-block page__title">
        НОВОСТИ
    </div>

    <div class="news standard-block">

        {% for post in posts %}

        <div class="new-block">
            <div class="new-block__img" style="background-image:url('/storage/app/media{{ post.image }}');"></div>
            <!--<img src='/storage/app/media{{ post.image }}'>-->
            <div class="new-block__text">
                <div class="title new-block__title">{{ post.title }}</div>
                <div class="new-crop">{{ post.content|raw }}</div>
                <a href="new/{{post.id}}">
                    <div class="new__link">ЧИТАТЬ ДАЛЕЕ</div>
                </a>
            </div>
        </div>

        {% endfor %}

        <div style="clear:both;"></div>
    </div>
</div>

<script src="/themes/new-design/assets/sources/jTruncate.js"></script>

<script>
    $('.new-crop').jTruncate({
                length: 180
            }
    );
</script>