title = "Места"
url = "/places"
layout = "main-layout"
is_hidden = 0

[builderList builderList2]
modelClass = "Nikita\Content\Models\Spot"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<div class="page-wrapper">

    <div class="page__title text-align-center standard-block">МЕСТА</div>

    {% set spots = builderList2.records %}
    {% set displayColumn = builderList2.displayColumn %}
    {% set noRecordsMessage = builderList2.noRecordsMessage %}
    {% set detailsPage = builderList2.detailsPage %}
    {% set detailsKeyColumn = builderList2.detailsKeyColumn %}
    {% set detailsUrlParameter = builderList2.detailsUrlParameter %}

    <div class="places standard-block">
        {% for record in spots %}
        <a href="/place/{{record.id}}">
        <div class="place-block">
            <div class="place-block__img" style="background-image: url('storage/app/media{{record.image}}')"></div>
            {{record.title}}
        </div>
        </a>

        {% endfor %}

        <div style="clear:both;"></div>
    </div>

</div>

