title = "Место"
url = "/place/:id"
layout = "main-layout"
is_hidden = 0

[builderDetails]
modelClass = "Nikita\Content\Models\Spot"
identifierValue = "{{ :id }}"
modelKeyColumn = "id"
displayColumn = "title"
notFoundMessage = "Record not found"
==

{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

<div class="standard-block page__title">{{record.title}}</div>

<div class="page-wrapper place-page">

    {% if record.image %}
    <div class="place-page__image">
        <img src="/storage/app/media/{{record.image}}">
    </div>

    {% endif %}

    <div class="place-page">
    {{record.description | raw}}
    </div>
    <div style="clear:both"></div>
</div>