title = "Услуги"
url = "/services"
layout = "main-layout"
is_hidden = 0

[builderList builderList3]
modelClass = "Nikita\Content\Models\Product"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set records = builderList3.records %}
{% set displayColumn = builderList3.displayColumn %}
{% set noRecordsMessage = builderList3.noRecordsMessage %}
{% set detailsPage = builderList3.detailsPage %}
{% set detailsKeyColumn = builderList3.detailsKeyColumn %}
{% set detailsUrlParameter = builderList3.detailsUrlParameter %}

<div class="page-wrapper">

    <div class="standard-block page__title">УСЛУГИ</div>

    <div class="standard-block">

        {% for record in records %}

        <div class="service-block">

            <div class="service-block__title">{{record.title}}</div>
            <div class="service-block__content">{{record.content | raw}}</div>

        </div>


        {% endfor %}

    </div>





</div>