
<div class="standard-block news">
    <div class="standard-block title text-align-center">
        НОВОСТИ
    </div>

    {% for post in posts %}

    <div class="new-block">
        <!--<img src="/storage/app/media{{ post.image }}" class="new-block__img">-->
        <div class="new-block__img" style="background-image:url('/storage/app/media{{ post.image }}');"></div>
        <div class="new-block__text">
            <div class="title new-block__title">{{ post.title }}</div>
            <div class="">{{ post.content|raw }}</div>
        </div>
    </div>

    {% endfor %}

    <div style="clear:both;"></div>
</div>



<!--{% set posts = __SELF__.posts %}-->

<!--<ul class="post-list">-->
<!--{% for post in posts %}-->
<!--<li>-->
<!--<img src="/storage/app/media{{ post.image }}" alt="{{ post.title }}">-->
<!--<h3><a href="news/post/{{ post.slug }}">{{ post.title }}</a></h3>-->
<!--<p class="date">{{ post.published_at|date('Y-m-d') }}</p>-->

<!--{% if post.introductory %}-->
<!--<p class="introductory">{{ post.introductory|raw }}</p>-->
<!--{% else %}-->
<!--<div class="content">{{ post.content|raw }}</div>-->
<!--{% endif %}-->
<!--</li>-->
<!--{% else %}-->
<!--<li class="no-data">{{ noPostsMessage }}</li>-->
<!--{% endfor %}-->
<!--</ul>-->
<!--{% if posts.lastPage > 1 %}-->
<!--<ul class="pagination">-->
<!--{% if posts.currentPage > 1 %}-->
<!--<li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>-->
<!--{% endif %}-->

<!--{% for page in 1..posts.lastPage %}-->
<!--<li class="{{ posts.currentPage == page ? 'active' : null }}">-->
<!--<a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>-->
<!--</li>-->
<!--{% endfor %}-->

<!--{% if posts.lastPage > posts.currentPage %}-->
<!--<li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>-->
<!--{% endif %}-->
<!--</ul>-->
<!--{% endif %}-->
