@font-face {
  font-family: SourceSansPro regular;
  src: url('/themes/new-design/assets/fonts/Source Sans/SourceSansPro-Regular.ttf');
}
@font-face {
  font-family: SourceSansPro bold;
  src: url('/themes/new-design/assets/fonts/Source Sans/SourceSansPro-Bold.ttf');
}
@font-face {
  font-family: SourceSansPro light;
  src: url('/themes/new-design/assets/fonts/Source Sans/SourceSansPro-Light.ttf');
}
@font-face {
  font-family: MyriadPro regular;
  src: url('/themes/new-design/assets/fonts/MyriadPro/MyriadProRegular/MyriadProRegular.ttf');
}
body {
  margin: 0;
  position: relative;
}
a {
  cursor: pointer;
}
.page-wrapper {
  max-width: 1440px;
  overflow: hidden;
  margin: 0 auto;
  font-family: "SourceSansPro regular";
  position: relative;
  padding-bottom: 360px;
}
.standard-block {
  width: 990px;
  margin: 60px auto;
}
.header {
  min-width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
.header__social-block {
  background: #F1F1F3;
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
}
.header__social {
  margin-left: 200px;
  letter-spacing: 0;
  border-left: 1px solid #D4D4D7;
  border-right: 1px solid #D4D4D7;
  display: inline-block;
  max-width: 1440px;
}
.header__social-link {
  vertical-align: middle;
  padding: 10px;
  float: left;
  width: 34px;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-left-color: #D4D4D7;
  border-right-color: #D4D4D7;
  margin: 0;
}
.header__social-link img {
  height: 24px;
}
.header__social-link:hover {
  background: #dcdcdf;
}
.header__logo-block {
  width: 100%;
  text-align: center;
  position: relative;
  padding: 24px 0;
  max-width: 1440px;
  margin: 0 auto;
}
.header__logo-block__left {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 145px;
  background: url('/themes/new-design/assets/images/header_left.svg') left no-repeat;
  background-position-x: -10px;
  background-size: 145px;
}
.header__logo-block__right {
  top: 0;
  position: absolute;
  right: 0;
  height: 145px;
  width: 200px;
  background: url('/themes/new-design/assets/images/header_right.svg') right no-repeat;
  background-position-x: 80px;
  background-position-y: -12px;
  background-size: 130px;
}
.header__logo {
  height: 95px;
}
.slider-block {
  background-size: 100% 100%;
  background-position: top;
}
.header__nav-bg {
  width: 100%;
  background: #98C15C;
  max-width: 1440px;
  margin: 0 auto;
}
.header__nav {
  width: 990px;
  margin: 0 auto;
}
.header__nav a:visited .header__nav__item {
  color: black;
}
.header__nav a:visited .header__nav__item_active {
  color: white;
}
.header__nav a:hover .header__nav__item {
  color: white;
}
.header__nav a .header__nav__item {
  color: black;
}
.header__nav a .header__nav__item_active {
  color: white;
}
.header__nav__item {
  padding: 13px 20px;
  display: inline-block;
  font-size: 18px;
  transition: 0.3s;
  font-family: "SourceSansPro regular";
}
.header__nav__item_active {
  font-family: "SourceSansPro bold";
  color: white;
}
.header__bars {
  display: none;
}
.slider {
  width: 100%;
  font-family: "SourceSansPro regular";
  color: white;
  max-height: 400px;
  max-width: 1440px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
.slider-block {
  background-repeat: no-repeat;
  background-size: 1440px 450px;
  max-width: 1440px;
  height: 100%;
  min-height: 400px;
}
.slider-block__content {
  display: block;
  height: 100%;
  margin: 0 auto;
  width: 100%;
}
.slider-block__content__image-cell {
  text-align: center;
  display: table-cell;
  width: 50%;
  vertical-align: top;
}
.slider-block__content__image-cell img {
  height: 255px;
}
.slider-block__content__text-cell {
  display: table-cell;
  width: 50%;
  vertical-align: top;
}
.slider-block__content__text-cell__title {
  font-family: "SourceSansPro bold";
  font-size: 50px;
  line-height: 58px;
}
.slider-block__content__text-cell__text {
  font-size: 19px;
  font-family: SourceSansPro light;
}
.slider-block_2 {
  color: #353C43;
}
.slider__item {
  margin: auto auto;
  display: none;
  max-width: 100%;
  height: 450px;
  position: relative;
}
.color-green {
  color: #98C15C;
}
.color-blue {
  color: #6AABBA;
}
.page__links {
  text-align: justify;
  text-align-last: justify;
}
.page__link {
  display: inline-block;
  width: 225px;
  background: #6F7072;
  text-align: center;
  text-align-last: center;
  font-family: "SourceSansPro bold";
  color: white;
  padding: 30px 0;
}
.page__link img {
  height: 60px;
  margin-bottom: 5px;
}
.page__link {
  background: #6F7072;
  transition: 0.2s;
}
.page__link:hover {
  background: #98C15C;
}
.page__title {
  font-size: 50px;
  color: #353C43;
  text-align: center;
  font-family: "SourceSansPro bold";
  word-spacing: 7px;
}
.events {
  text-align: justify;
  text-align-last: justify;
  vertical-align: top;
}
.events__item {
  vertical-align: top;
  display: inline-block;
  height: 380px;
  width: 265px;
  background-color: #6F7072;
  color: white;
  text-align: left;
  text-align-last: left;
  font-size: 18px;
  font-family: SourceSansPro light;
  position: relative;
  padding: 60px 20px 10px 25px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  overflow: hidden;
  margin: 8px;
  margin-bottom: 20px;
}
.events__item a {
  text-decoration: none;
  color: white;
}
.events__item__title {
  font-size: 37px;
  line-height: 47px;
  font-family: "SourceSansPro bold";
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
}
.events__item__description {
  position: relative;
  z-index: 2;
}
.events__item__link {
  position: absolute;
  margin-bottom: -20px;
  left: 25px;
  z-index: 2;
  transition: 0.5s;
  bottom: 0;
  font-family: "SourceSansPro bold";
  font-size: 14px;
}
.events__item:hover .events__item__link {
  margin-bottom: 10px;
}
.events__item__opacity {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.bottom-marker {
  position: absolute;
  right: 0;
  left: auto;
  bottom: 385px;
  text-align: right;
  padding: 0;
}
.bottom-marker img {
  width: 300px;
}
.commercial {
  color: #353C43;
  margin: 100px auto;
}
.commercial__title {
  font-size: 32px;
  font-family: "SourceSansPro bold";
  margin-bottom: 20px;
}
.commercial__text {
  width: 650px;
  font-size: 20px;
  font-family: "SourceSansPro regular";
  word-spacing: 3px;
}
.footer-bg {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
  background: #45474E;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.footer {
  width: 990px;
  padding: 50px 0 25px;
  color: white;
  margin: 0 auto;
  font-family: "SourceSansPro light";
}
.footer__block {
  width: 300px;
  float: left;
  padding-right: 30px;
}
.footer__block__title {
  font-family: "SourceSansPro bold";
  font-size: 25px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.footer__block__ul {
  padding: 0;
}
.footer__block__ul li {
  font-size: 18px;
  list-style: none;
  padding: 10px 0 3px 0;
  border-bottom: 2px solid rgba(241, 241, 243, 0.39);
  line-height: 30px;
  transition: 0.2s;
}
.footer__block__ul li img {
  height: 16px;
  vertical-align: middle;
  margin-right: 18px;
  margin-bottom: 3px;
}
.footer__block__ul li:hover {
  color: #98C15C;
}
.footer__block__ul a:last-child li {
  border: 0;
}
.footer__block_contacts {
  padding-right: 0;
  width: 380px;
}
.footer__contact {
  margin-bottom: 15px;
  position: relative;
  padding-left: 45px;
  width: 380px;
}
.footer__contact__image {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  left: 0;
  width: 40px;
  text-align: center;
  height: 25px;
}
.footer__contact__image img {
  height: 23px;
}
.footer__contact__image_phone img {
  height: 28px;
}
.footer__block_links {
  width: 250px;
}
.news {
  text-align: justify;
  text-align-last: justify;
  margin-top: 0;
}
.new-block {
  display: inline-block;
  width: 310px;
  min-height: 380px;
  vertical-align: top;
  text-align: center;
  text-align-last: left;
  color: #545f5c;
  border-bottom: 2px solid #545f5c;
  font-family: "SourceSansPro regular";
  position: relative;
}
.new-block__img {
  width: 310px;
  height: 250px;
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.new-block a {
  color: #545f5c;
  text-decoration: none;
}
.new-block__text {
  text-align: left;
  width: 310px;
  margin: 0px auto 0;
  height: 260px;
}
.new-block__title {
  margin: 0 0 15px;
  font-size: 25px;
}
.event__image {
  background-color: #efeeeb;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
  text-align: center;
  float: right;
  margin-left: 50px;
  margin-bottom: 20px;
}
.event__image img {
  width: 500px;
}
.event__title {
  margin: 0 0 10px 30px;
  color: #545f5c;
  font-size: 30px;
  font-family: "SourceSansPro bold";
}
.event__date {
  margin: 0 0 20px 30px;
  font-size: 20px;
  color: #545f5c;
}
.event__content {
  color: #545f5c;
}
.event-page {
  margin-bottom: 200px;
}
.new__link {
  position: absolute;
  bottom: 10px;
  left: 15px;
  z-index: 2;
  font-family: "SourceSansPro bold";
  font-size: 14px;
}
.new__link:hover {
  text-decoration: underline;
}
.history-page {
  position: relative;
  display: none;
  font-family: "SourceSansPro regular";
}
.history-page__block {
  width: 50%;
  max-width: 50%;
  min-height: 400px;
  max-height: 400px;
  float: left;
  background: #efeeeb;
  color: #545f5c;
}
.history-page__left-block__content {
  margin: 100px 90px 70px 60px;
  font-size: 18px;
}
.history-block__title {
  font-size: 30px;
  font-family: "SourceSansPro bold";
}
.history-page__right-block {
  background-color: #efeeeb;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.history-linear-nav {
  width: 1200px;
  text-align: justify;
  position: relative;
}
.history-linear-nav:after {
  content: '';
  display: inline-block;
  width: 100%;
}
.history-linear-nav__item {
  border-radius: 50% 50%;
  width: 10px;
  height: 10px;
  background: #45474E;
  border: 4px solid transparent;
  position: relative;
  font-family: "SourceSansPro regular";
}
.history-linear-nav__item-wrapper {
  border: 5px solid transparent;
  border-radius: 50% 50%;
  display: inline-block;
  position: relative;
  z-index: 2;
  cursor: pointer;
  background: transparent;
}
.history-linear-nav__item-wrapper:hover {
  border: 5px solid #45474E;
}
.history-linear-nav__item-wrapper_active {
  border: 5px solid #45474E;
}
.history-linear-nav__item-wrapper_active .history-linear-nav__item {
  border: 4px solid #fff;
}
.history-linear-nav__item-wrapper:hover .history-linear-nav__item {
  border: 4px solid #fff;
}
.history-linear-nav__line-through {
  width: 1190px;
  height: 5px;
  position: absolute;
  top: 0;
  bottom: 2px;
  left: 0;
  right: 0;
  margin: auto auto;
  background: #efeeeb;
  z-index: 1;
  cursor: default;
}
.history-linear-nav__item__year {
  position: absolute;
  left: -22px;
  right: 0;
  top: 30px;
  font-size: 25px;
  color: #45474E;
  display: none;
}
.history-linear-nav__item-wrapper_active .history-linear-nav__item__year {
  display: block;
}
.history-page-wrapper {
  position: relative;
  z-index: 1;
  font-family: "SourceSansPro regular";
  font-size: 19px;
}
.history-page-wrapper p {
  text-indent: 20px;
}
.history-page_active {
  display: block;
}
.attractions {
  display: none;
  visibility: hidden;
  position: relative;
  z-index: 0;
  transition: visibility 10s, opacity 0.5s linear;
  width: 100%;
}
.attractions__block {
  width: 50%;
  max-width: 50%;
  min-width: 50%;
  min-height: 340px;
  float: left;
}
.attractions__left-block {
  background-color: #efeeeb;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.attractions__right-block {
  background: #efeeeb;
  color: #6F7072;
  text-align: left;
  vertical-align: middle;
  font-size: 17px;
}
.attractions__right-block__content {
  margin: 30px 20px 0 60px;
}
.attractions__left-block img {
  height: 100%;
}
.attractions__arrow-block {
  position: absolute;
  z-index: 2;
  max-width: 50px;
  max-height: 50px;
  padding: 20px;
  border: 3px solid #45474E;
  background: #efeeeb;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
  transition: 0.4s;
  -webkit-user-select: none;
}
.attractions__arrow {
  width: 30px;
  margin: auto;
  top: 0;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
}
.attractions__arrow-block:hover {
  background: #fff;
}
a {
  text-decoration: none;
}
.attraction__title {
  font-size: 25px;
  font-family: "SourceSansPro bold";
  color: #353C43;
}
.gallery-block {
  height: 600px;
  background: transparent;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
}
.gallery__arrow-block {
  position: absolute;
  z-index: 2;
  max-width: 40px;
  max-height: 40px;
  width: 200px;
  height: 200px;
  border: 3px solid #545f5c;
  background: #efeeeb;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 20px;
  opacity: 0.4;
  cursor: pointer;
  transition: 0.4s;
}
.gallery__arrow {
  width: 20px;
  margin: auto;
  top: 0;
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
  -webkit-user-select: none;
}
.gallery__arrow-block_left {
  left: -65px;
}
.gallery__arrow-block_right {
  right: -65px;
}
.gallery__arrow-block_left img {
  transform: rotate(180deg);
}
.gallery__right {
  width: 50%;
  height: 100%;
  float: right;
  transition-duration: 0.4s;
}
.gallery__right:hover {
  background: rgba(239, 238, 235, 0.18);
  cursor: pointer;
}
.gallery__left {
  width: 50%;
  height: 100%;
  float: left;
  transition-duration: 0.4s;
}
.gallery__left:hover {
  background: rgba(239, 238, 235, 0.18);
  cursor: pointer;
}
.gallery__left:hover .gallery__arrow-block {
  opacity: 1;
}
.gallery__right:hover .gallery__arrow-block {
  opacity: 1;
}
.about-park {
  display: table;
  width: 100%;
  font-size: 18px;
}
.about-park__block {
  width: 50%;
  max-width: 50%;
  min-width: 50%;
  min-height: 340px;
  float: left;
  background: #efeeeb;
  color: #545f5c;
  display: block;
}
a {
  text-decoration: none;
}
.about-park__left-block__content {
  margin: 40px 40px 0px;
}
.about-park__right-block {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}
.about-park__right-block img {
  height: 100%;
}
.vacancy__title {
  font-size: 30px;
  margin-bottom: 30px;
}
.friend__image {
  width: 100%;
  max-height: 100%;
}
.event-block {
  width: 270px;
  height: 270px;
  max-height: 310px;
  margin: 30px;
  color: white;
  float: left;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
.footer a li {
  color: white;
}
.attractions_active {
  display: table;
  visibility: visible;
}
.attractions-page__title {
  width: 830px;
  margin: 50px auto;
  display: table;
  font-size: 18px;
  font-family: "SourceSansPro bold";
  color: #353C43;
}
.attractions-page__title__text {
  display: table-cell;
  vertical-align: top;
}
.attractions-page__title__text__link {
  font-size: 30px;
  color: #6F7072;
  text-decoration: underline;
  text-underline-mode: 5px #98C15C;
  margin-bottom: 15px;
}
.attractions-page__title__text__link:hover {
  opacity: 0.8;
}
.attractions-page__title__image {
  text-align: center;
  display: table-cell;
  padding: 10px 0;
  width: 250px;
}
.attractions-page__title__image img {
  height: 130px;
}
.attractions-price__table {
  width: 100%;
  border-spacing: 0;
  border: 1px solid black;
}
.attractions-price__table td {
  border: 1px solid black;
  padding: 10px 20px;
}
.attractions-price__table__title {
  font-size: 18px;
}
.attractions-price__table__name {
  font-size: 18px;
  padding-left: 20px;
}
.attractions-price__table__price {
  font-size: 20px;
}
.text-center {
  text-align: center;
}
.about-park__left-block_new-design {
  background-color: #98C15C;
  background-position: right;
  font-family: "SourceSansPro light";
  background-image: url('/themes/new-design/assets/images/marker_withouttext.svg');
  background-repeat: no-repeat;
  color: white;
  font-size: 16px;
}
.about-park__title {
  font-size: 30px;
  font-family: "SourceSansPro regular";
}
.about-park__left-block__content_new-design {
  width: 350px;
}
.faq-block {
  width: 100%;
  color: #545f5c;
  display: table;
  margin-bottom: 50px;
  position: relative;
  margin-right: 20px;
}
.faq__title {
  font-size: 23px;
  margin: 0 0 20px 0px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  z-index: 2;
  position: relative;
}
.faq__arrow-block {
  width: 25px;
  height: 29px;
  display: inline-block;
  background-image: url(/themes/new-design/assets/images/footer_arrow.svg);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 0.5s;
}
.faq__arrow-block_active {
  transform: rotate(90deg);
}
.faq__body {
  font-size: 17px;
  display: none;
  width: 440px;
  z-index: 1000;
}
.faq_column {
  width: 50%;
  float: left;
}
.faq__arrow-block-wrapper {
  display: table-cell;
  vertical-align: top;
  width: 30px;
}
.faq__content {
  display: table-cell;
  vertical-align: top;
  text-align: left;
}
.commercial__ul li {
  padding: 0;
  list-style: none;
}
.commercial__small-text {
  font-size: 14px;
}
.albums {
  width: 990px;
  margin: 0 auto;
}
.albums li {
  display: inline-block;
  padding: 7px 15px;
  margin: 5px;
  font-size: 20px;
  list-style: none;
  font-family: "SourceSansPro regular";
  transition: 0.2s;
  cursor: pointer;
  background: #6F7072;
  color: white;
}
.albums li:hover {
  background: #98C15C;
}
.albums .albums__active {
  background: #98C15C;
  letter-spacing: 1px;
}
.place-block {
  width: 290px;
  float: left;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: #545f5c;
  cursor: pointer;
  margin: 0 20px 50px;
}
.place-block__img {
  width: 200px;
  height: 150px;
  margin: 0 auto 15px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.place-block img {
  width: 150px;
  margin: 0 0 15px;
}
.place__popup {
  padding: 20px;
  background: #6F7072;
  color: white;
  font-size: 16px;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;
  max-width: 700px;
  border-radius: 0 0 5px 5px;
  z-index: 100;
}
.place__popup_active {
  display: block;
}
.place-page {
  width: 990px;
  margin: 0 auto 100px;
}
.place-page__image {
  float: right;
}
.place-page__image img {
  width: 400px;
  padding: 20px;
}
.history-page__photo {
  margin: 8px 15px 0px 0;
  text-align: center;
  display: block;
  max-width: 700px;
  float: left;
}
.history-page__photo:nth-child(even) {
  float: right;
}
.service-block {
  margin: 10px 30px 30px 0;
  font-size: 16px;
}
.service-block__title {
  margin: 10px;
  font-size: 25px;
}
