title = "Мероприятия и акции"
url = "/events"
layout = "main-layout"
is_hidden = 0

[builderList events]
modelClass = "Nikita\Content\Models\Event"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<div class="title text-align-center standard-block">МЕРОПРИЯТИЯ И АКЦИИ</div>

<div class="standard-block events">

    {% set records = events.records %}
    {% set displayColumn = events.displayColumn %}
    {% set noRecordsMessage = events.noRecordsMessage %}
    {% set detailsPage = events.detailsPage %}
    {% set detailsKeyColumn = events.detailsKeyColumn %}
    {% set detailsUrlParameter = events.detailsUrlParameter %}
    
    {% for event in records %}

    <a href="event/{{event.id}}"><div class="event-block" style="background-image: url('\storage/app/media/{{event.image}}');">
        <div class="semi-opacity">
        <div class="event-block__content">
        <div class="event-block__title">{{ event.title }}</div>
        <div class="event-crop">{{ event.content|raw }}</div>
        </div>
        </div>
    </div>
    </a>
    {% endfor %}
<div style="clear:both;"></div>


</div>