title = "Мероприятие"
url = "/event/:id"
layout = "main-layout"
is_hidden = 0

[builderDetails]
modelClass = "Nikita\Content\Models\Event"
identifierValue = "{{ :id }}"
modelKeyColumn = "id"
displayColumn = "title"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}


<div class="event__image">
    <img src='\storage/app/media{{record.image}}'>
</div>

<div class="event__title title">{{record.title}}</div>
<div class="event__date">{{record.date}}</div>
<div class="event__content">
    {{record.content|raw}}
</div>