title = "F.A.Q"
url = "/faq"
layout = "main-layout"
is_hidden = 0

[builderList]
modelClass = "Nikita\Content\Models\FAQ"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<div class="standard-block title  text-align-center">ЧАСТО ЗАДАВАЕМЫЕ ВОПРОСЫ</div>
<div class="standard-block">

{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

	{% set i=0 %}
{% for record in records %}

	<div class="faq-block" {% if i%2 %} style="float:right;" {% endif %}>

		<div class="faq__arrow-block-wrapper">
			<div class="faq__arrow-block faq-open" to="{{record.id}}" id="arrow-{{record.id}}"></div>
		</div>

		<div class="faq__content">
			<div class="faq__title faq-open" to="{{record.id}}">
				{{record.title}}
			</div>

			<div class="faq__body" id="body-{{record.id}}">
				{{record.content}}
			</div>
		</div>
	</div>

	{% set i=i+1 %}

{% endfor %}
	<div style="clear:left;"></div>

</div>

<script>
	$('.faq-open').click(function(){


		$('#body-'+$(this).attr('to')).slideToggle({
				duration:200

		});

		$('#arrow-'+$(this).attr('to')).toggleClass("faq__arrow-block_active");
	})

</script>