title = "Друзья парка"
url = "/friends"
layout = "main-layout"
is_hidden = 0

[builderList]
modelClass = "Nikita\Content\Models\Fried"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[posts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "Отсутсвие постов"
sortOrder = "published_at desc"
postPage = "new"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<div class="title text-align-center standard-block">ДРУЗЬЯ ПАРКА</div>


<div class="standard-block events">
	
	{% for friend in records %}
<a href="{{friend.link}}">
    <div class="event-block" style="background-image: url(' /storage/app/media/{{friend.image}}');">
        <div class="semi-opacity">
        <div class="event-block__content">
        <div class="event-block__title">{{friend.title}}</div>
        <div class="event-crop">{{friend.content}}</div>
        </div>
        </div>
    </div>
</a>

{% endfor %}
    
<div style="clear:both;"></div>

</div>
	<div class="page-href" href="friends"></div>