title = "Галерея"
url = "/gallery"
layout = "main-layout"
is_hidden = 0

[gallery]
idGallery = 1
lang = "Gallery"
jqueryinject = "yes"
thumbnail = "true"
caption = "true"
desc = "true"
counter = "true"
controls = "true"
preload = 2
mode = "slide"
speed = 500
loop = "true"
auto = "false"
pause = 2000
escKey = "true"
height = 100
width = 100
resizer = "auto"
==

<div class="page-href" href="gallery"></div>

<div class="title text-align-center standard-block">ФОТОГАЛЕРЕЯ</div>

<div class="gallery-block standard-block">

    <div class="gallery__left left-trigger">
        <div class=" gallery__arrow-block gallery__arrow-block_left left-trigger">
        <img src="themes/main-theme/assets/images/arrow-right.svg" class="gallery__arrow">
    </div>
    </div>

<div class="gallery__right right-trigger">
    <div class=" gallery__arrow-block gallery__arrow-block_right right-trigger">
        <img src="themes/main-theme/assets/images/arrow-right.svg" class="gallery__arrow">
    </div>
</div>


</div>


{% component 'gallery' %}