title = "История"
url = "/history"
layout = "main-layout"
is_hidden = 0

[builderList]
modelClass = "Nikita\Content\Models\Year"
scope = "-"
displayColumn = "year"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<div class="page-href" href="history"></div>

{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}

<div class="title text-align-center standard-block">ИСТОРИЯ</div>


<div class="history-page-wrapper">
    <div class="attractions__arrow-block">

        <div class="attractions__arrow">
            <img src="themes/main-theme/assets/images/arrow-right.svg" class="attractions__arrow">
        </div>
    </div>

    {% for record in records %}

    <div class="history-page standard-block" id="history-block-{{record.id}}">
        <div class="history-page__block">
            <div class="history-page__left-block__content">
                <div class="title">{{record.year}}</div>
                <br>
                <div>

                    {{record.content}}

                </div>
            </div>
        </div>

        <div class="history-page__block history-page__right-block" style="background-image:url(' /storage/app/media/{{record.image}}');"></div>

        <div style="clear:both;"></div>

    </div>

    {% endfor %}


</div>



<div class="standard-block history-linear-nav">

   <div class="history-linear-nav__line-through"></div>


    {% for record in records %}

    <div class="history-linear-nav__item-wrapper " id="history-nav-item-{{record.id}}" pageId="{{record.id}}">

        <div class="history-linear-nav__item">

            <div class="history-linear-nav__item__year">{{record.year}}</div>

        </div>

    </div>

    {% endfor %}

</div>



<script>

    var idArray=[];
    var i;
    var active;


    $(function(){


        {% for record in records %}

        idArray[idArray.length] = '{{record.id}}';

        {% endfor %}

         i = 0;

         active=$('#history-block-'+ idArray[i]);
        active.addClass('history-page_active');
        $('#history-nav-item-'+idArray[i]).addClass('history-linear-nav__item-wrapper_active');
    })

    $('.history-linear-nav__item-wrapper').click(function(){

        $('.history-linear-nav__item-wrapper_active').removeClass('history-linear-nav__item-wrapper_active');
        $(this).addClass('history-linear-nav__item-wrapper_active');

       var pageId = $(this).attr('pageId');
        i = idArray.indexOf(pageId);
//        $('.attractions__arrow-block').trigger('click');
        changePage();

        if (i != idArray[idArray.length - 2]){
            $('.attractions__arrow-block').removeClass('attractions__arrow_not-active');
        }

    });


    $('.attractions__arrow-block').click(function arrowClick(){

        i++;

        if (i == idArray[idArray.length - 2]){
//            $('.attractions__arrow-block').addClass('attractions__arrow_not-active');
        }

        if (i == idArray[idArray.length - 1]){
            i=0;
        }

        changePage();

        $('.history-linear-nav__item-wrapper_active').removeClass('history-linear-nav__item-wrapper_active');
        $('#history-nav-item-'+(i+1)).addClass('history-linear-nav__item-wrapper_active');


    })

    function changePage(){

        active.removeClass('history-page_active');
        active = $('#history-block-'+ idArray[i]);
        active.addClass('history-page_active');

    }



</script>