title = "Главная"
url = "/"
layout = "main-layout"
is_hidden = 0

[posts]
pageNumber = "{{ :page }}"
postsPerPage = 3
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
postPage = "index"

[builderList events]
modelClass = "Nikita\Content\Models\Event"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
recordsPerPage = 3
pageNumber = 1
sortColumn = "date"
sortDirection = "asc"

[editable]
file = "about_park.htm"

[builderList]
modelClass = "Nikita\Content\Models\Attraction"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderDetails aboutpark]
modelClass = "Nikita\Content\Models\Other"
identifierValue = 1
modelKeyColumn = "id"
displayColumn = "id"
notFoundMessage = "Record not found"

[builderDetails cooperation]
modelClass = "Nikita\Content\Models\Other"
identifierValue = 6
modelKeyColumn = "id"
displayColumn = "content"
notFoundMessage = "Record not found"

[builderList builderList2]
modelClass = "Nikita\Content\Models\Spot"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[builderList builderList3]
modelClass = "Nikita\Content\Models\Product"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set aboutpark = aboutpark.record %}
{% set displayColumn = aboutpark.displayColumn %}
{% set notFoundMessage = aboutpark.notFoundMessage %}

<div class="standard-block">
<div class="about-park block-margin">
    <div class="about-park__block about-park__left-block ">
        <div class="about-park__left-block__content">
        <div class="title">{{aboutpark.title}}</div>
        <br>
        <div class="crop">
        
		{{aboutpark.content|raw}}
        </div>
    </div>
    </div>

    <div class="about-park__block about-park__right-block" 
    style="background-image:url('/storage/app/media/{{aboutpark.image}}');">
    </div>

    <div style="clear:both;"></div>

</div>
</div>

<div class="separation-line"></div>


<div class="standard-block news">
    <div class="title text-align-center">
        НОВОСТИ
    </div>


    {% for post in posts %}

    <div class="new-block">
        <a href="new/{{post.id}}"> <div class="new-block__img" style="background-image:url('/storage/app/media{{ post.image }}');"></div>
            <div class="new-block__text">
                <div class="title new-block__title">{{ post.title }}</div>
                <div class="new-crop">{{ post.content|raw }}</div>
            </div></a>
    </div>

    {% endfor %}

    <div style="clear:both;"></div>
    <a href="news">
    	 <div class="button button_transparent text-align-center standard-block button_margin" >ЕЩЁ</div>
    	 </a>
</div>



<div class="separation-line"></div>
<div class="title text-align-center standard-block">МЕРОПРИЯТИЯ И АКЦИИ</div>

<div class="standard-block events">

    {% set records = events.records %}
    {% set displayColumn = events.displayColumn %}
    {% set noRecordsMessage = events.noRecordsMessage %}
    {% set detailsPage = events.detailsPage %}
    {% set detailsKeyColumn = events.detailsKeyColumn %}
    {% set detailsUrlParameter = events.detailsUrlParameter %}



    {% for event in records %}

    <a href="event/{{event.id}}"><div class="event-block" style="background-image: url(' /storage/app/media/{{event.image}}');">
        <div class="semi-opacity">
        <div class="event-block__content">
        <div class="event-block__title">{{ event.title }}</div>
{#<div class="event-crop">{{ event.content }}</div> #}
</div>
        </div>
    </div>
    </a>
    {% endfor %}
<div style="clear:both;"></div>
    <a href="events">
    	 <div class="button button_transparent text-align-center standard-block button_margin" >ЕЩЁ</div>
    	 </a>


</div>

<div class="separation-line"></div>
<div class="title text-align-center standard-block">АТРАКЦИОНЫ</div>

{% set attractions = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}



<div class="standard-block" style="position: relative;">

    <div class="attractions__arrow-block">

        <div class="attractions__arrow">
            <img src="themes/main-theme/assets/images/arrow-right.svg" class="attractions__arrow">
        </div >
    </div>

    {% for item in attractions %}

    <div class="attractions" id="attractions-block-{{item.id}}">

    <div class="attractions__block attractions__left-block" style="background-image: url('storage/app/media{{item.image}}')">
    </div>

    <div class="attractions__block attractions__right-block">
        <div class="attractions__right-block__content">

        <div class="title">{{item.title}}</div>
        <br>

            {{item.content|raw}}

        </div>
    </div>

</div>


    {% endfor %}

    <div style="clear: both"></div>

</div>

<script>
    var i=0;

    var idArray = [];

    $(function(){

    {% for item in attractions %}
    idArray[idArray.length] = '{{item.id}}';
    {% endfor %}

        $('#attractions-block-'+idArray[i]).addClass('attractions_active');

    });

    $('.attractions__arrow-block').click(function(){
        i++;

        if (i == idArray.length){
            i = 0;
        }

$('.attractions_active').removeClass('attractions_active');
      
        $('#attractions-block-'+idArray[i]).addClass('attractions_active');


    })

</script>

<div class="separation-line"></div>
<div class="title text-align-center standard-block">МЕСТА</div>

{% set spots = builderList2.records %}
{% set displayColumn = builderList2.displayColumn %}
{% set noRecordsMessage = builderList2.noRecordsMessage %}
{% set detailsPage = builderList2.detailsPage %}
{% set detailsKeyColumn = builderList2.detailsKeyColumn %}
{% set detailsUrlParameter = builderList2.detailsUrlParameter %}

<div class="places standard-block">
{% for record in spots %}
    <div class="place-block">
        <div class="place-block__img" style="background-image: url('storage/app/media{{record.image}}')"></div>
        {{record.title}}
    </div>
    {% endfor %}

    <div style="clear:both; "></div>
</div>

<div class="separation-line"></div>
<div class="title text-align-center standard-block">УСЛУГИ</div>

{% set products = builderList3.records %}
{% set displayColumn = builderList3.displayColumn %}
{% set noRecordsMessage = builderList3.noRecordsMessage %}
{% set detailsPage = builderList3.detailsPage %}
{% set detailsKeyColumn = builderList3.detailsKeyColumn %}
{% set detailsUrlParameter = builderList3.detailsUrlParameter %}

<div class="standard-block services">
		{% for service in products %}
		
		<div class="service-block" style="background-image:url('storage/app/media{{service.image}}');">
			<div class="semi-opacity">
				<div class="service__content">
        <div class="service-block__title">{{service.title}}</div>
        <div class="event-crop">
        {{service.content}}
        </div>
        </div>
       </div>
   </div>
   
		{% endfor %}
    <div style="clear:both;"></div>

</div>

<div class="separation-line"></div>
<div class="title text-align-center standard-block">СОТРУДНИЧЕСТВО</div>

<div class=" text-align-center standard-block cooperation">
   
	{% set coop = cooperation.record %}
{% set displayColumn = cooperation.displayColumn %}
{% set notFoundMessage = cooperation.notFoundMessage %}

{{ coop.content | raw}}

</div>
{#<div class=" text-align-center">#}
{#    <button class="button button_transparent">ПОДРОБНЕЕ</button>#}
{#</div>#}


<div class="page-href" href="index"></div>