@media  (max-width: 989px){

    .standard-block{

        }

    .page-wrapper{
        /*background: rgba(82, 255, 104, 0.07);*/
        padding:0 0;
        min-width:0;
        width: inherit;

    }

    .standard-block{
        width: 800px;

    }

    .header{
        padding:15px 0;
        text-align: left;
        position: fixed;
        z-index: 100;
    }

    .header .logo{
        margin-left:20px;
        height:100px;

    }

    .footer{

        width:800px;
        max-width: 800px;
        display: none;

    }

    .about-park{
        margin-top:200px;
    }

    .about-park__block{
        width:100%;
        max-width:100%;
        min-height:340px;
        background: #efeeeb;
        color: #545f5c;
    }

    .about-park__right-block{
        display: none;
    }

    .navigation{
        display: none;
    }

    .mobile-navigation{
        float:right;
        display: block;
        font-size:80px;
        padding:15px 15px 15px 0;
    }


}
