<html>
<head>
    <link href="\themes/main-theme/assets/css/newdesign-index.css" rel="stylesheet">
    <!--{#<link href="themes/main-theme/assets/css/mobile-980.css" rel="stylesheet">#}-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <title>{{this.page.title}}</title>
</head>
<body>







</body>
</html>